.alert-player__text-wrapper {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  z-index: 1;
  transition: opacity 0.2s ease;
  transition-delay: 0.15s;
}

.alert-player__text {
  max-width: 800px;
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
  color: white;
  text-shadow: 1px 2px 1px rgba(0,0,0,0.05);
  margin: 0;
  position: relative;
  padding-left: 50px;
}

.alert-player__text::before {
  content: "â€";
  line-height: 1;
  font-weight: 900;
  font-size: 2em;
  font-style: normal;
  color: hsl(356, 81%, 52%);
  position: absolute;
  left: 0;
  top: -0.1em;
  margin-right: 10px;
}

.alert-player__text > time {
  margin-right: 10px;
  font-weight: 700;
}

@media (min-width: 980px) {
  .alert-player__text {
    padding-left: 0;
  }

  .alert-player__text::before {
    left: auto;
    right: 100%;
  }
}
