.record {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  animation: wobble 1.82s infinite linear;
  animation-play-state: paused;
}

.record__transfers,
.record__label {
  transform-origin: center;
  animation: spin 1.82s infinite linear;
  animation-play-state: paused;
}

.record__glare {
  transform-origin: center;
  animation: pulse 1.82s infinite linear;
  animation-direction: alternate;
  animation-play-state: paused;
}

.record__glare:nth-child(2) {
  animation-direction: alternate-reverse;
}

@keyframes wobble {
  0% { transform: rotate3d(1, 0, 0, 5deg); }
  25% { transform: rotate3d(0, 1, 0, 5deg); }
  50% { transform: rotate3d(1, 0, 0, -5deg); }
  75% { transform: rotate3d(0, 1, 0, -5deg); }
  100% { transform: rotate3d(1, 0, 0, 5deg); }
}

@keyframes spin {
  from { transform: rotate3d(0, 0, 1, 124deg); }
  to { transform: rotate3d(0, 0, 1, 484deg); }
}

@keyframes pulse {
  from { transform: rotate3d(0, 0, 1, -0.5deg); }
  to { transform: rotate3d(0, 0, 1, 0.5deg); }
}
