.record {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  animation: wobble 1.82s infinite linear;
  animation-play-state: paused;
  border-radius: 50%;
  box-shadow: 0 80px 100px rgba(0,0,0,0.3);
}

.record__vinyl {
  width: 100%;
  display: block;
}

.record__label {
  position: absolute;
  width: 34.4%;
  top: 32.8%;
  left: 32.8%;
  animation: spin 1.82s infinite linear;
  animation-play-state: paused;
}


@keyframes wobble {
  0% { transform: rotateX(5deg) rotateY(0deg); }
  25% { transform: rotateX(0deg) rotateY(5deg); }
  50% { transform: rotateX(-5deg) rotateY(0deg); }
  75% { transform: rotateX(0deg) rotateY(-5deg); }
  100% { transform: rotateX(5deg) rotateY(0deg); }
}

@keyframes spin {
  from { transform: rotateZ(124deg); }
  to { transform: rotateZ(484deg); }
}
