.turntable {
  position: absolute;
  margin: 0;
  transition: filter 0.2s ease;
}

.turntable__pin {
  position: absolute;
  width: 2%;
  height: 2%;
  left: 49%;
  top: 49%;
  border-radius: 50%;
  background-color: #888;
}

@media (orientation: portrait) {
  .turntable {
    width: 175vh;
    height: 175vh;
    left: calc(50% - 87.5vh);
    top: 8vh;
  }
}

@media (orientation: landscape) {
  .turntable {
    width: 90vw;
    height: 90vw;
    left: 5vw;
    top: calc(100% - 48vw);
  }
}
