.turntable {
  --size: 130vh;
  position: absolute;
  margin: 0;
  transition: filter 0.2s ease;
  width: var(--size);
  height: var(--size);
  left: 50%;
  top: 100%;
  transform: translate(-50%, -55%);
}

.turntable__pin {
  position: absolute;
  width: 2%;
  height: 2%;
  left: 49%;
  top: 49%;
  border-radius: 50%;
  background-color: #888;
}
