html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.06)
    ),
    linear-gradient(
      hsl(219, 63%, 33%) 0%,
      hsl(219, 63%, 33%) 33%,
      rgb(214, 214, 213) 66%,
      rgb(214, 214, 213) 100%
    );
  background-size: 100% 20%, 100% 300%;
  background-position: bottom, bottom;
  background-repeat: no-repeat;
  transition: 0.5s ease;
  transition-property: background-image, background-position;
}


.radial-shine {
  position: relative;
  overflow: hidden;
}

.radial-shine__shadow {
  opacity: 0.2;
}

.radial-shine__highlight::before,
.radial-shine__highlight::after,
.radial-shine__shadow::before,
.radial-shine__shadow::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
}

.radial-shine__highlight::before,
.radial-shine__highlight::after {
  border-color: white transparent;
  transform: translate(-50%, -50%) rotateZ(45deg);
}

.radial-shine__shadow::before,
.radial-shine__shadow::after {
  border-color: black transparent;
  transform: translate(-50%, -50%) rotateZ(-45deg);
}

.radial-shine__highlight::before,
.radial-shine__shadow::before {
  border-width: 3vw 1vw;
  opacity: 0.7;
}

.radial-shine__highlight::after,
.radial-shine__shadow::after {
  border-width: 1.5vw 1vw;
  opacity: 0.4;
}


.icon {
  box-sizing: border-box;
  fill: currentColor;
}


.controls,
.alert-player__text__wrapper {
  z-index: 1;
  transition: opacity 0.2s ease;
  transition-delay: 0.15s;
}


.controls {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.controls button {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: none;
  color: #fff;
  padding: 0;
  background-color: hsl(219, 63%, 33%);
}

.controls .music-player__play-button {
  display: none;
  background-color: hsl(356, 81%, 52%);
}

.controls button:focus {
  outline: none;
}

.controls .icon {
  width: 100%;
}

.controls .icon--replay { height: 70px }


.controls .icon--play { height: 55px; padding-left: 9px }
.controls .icon--pause { height: 50px }

.music-player__play-button {
  background-color: hsl(356, 81%, 52%);
  animation: glow 2s infinite ease;
}

@keyframes glow {
  0%, 100% { box-shadow: 0 0 30px 2px hsl(356, 91%, 72%); }
  50% { box-shadow: 0 0 60px 2px hsl(356, 91%, 72%); }
}


.alert-player__repeat-button {
  transition: filter 0.2s ease;
}

.alert-player__text__wrapper {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
}

.alert-player__text {
  max-width: 800px;
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
  color: white;
  text-shadow: 1px 2px 1px rgba(0,0,0,0.05);
  margin: 0;
  position: relative;
  padding-left: 50px;
}

.alert-player__text::before {
  content: "â€";
  line-height: 1;
  font-weight: 900;
  font-size: 2em;
  font-style: normal;
  color: hsl(356, 81%, 52%);
  position: absolute;
  left: 0;
  top: -0.1em;
  margin-right: 10px;
}

.alert-player__text > time {
  margin-right: 10px;
  font-weight: 700;
}

@media (min-width: 980px) {
  .alert-player__text {
    padding-left: 0;
  }

  .alert-player__text::before {
    left: auto;
    right: 100%;
  }
}


.turntable {
  position: absolute;
  margin: 0;
  transition: filter 0.2s ease;
}

.turntable__pin {
  position: absolute;
  width: 2%;
  height: 2%;
  left: 49%;
  top: 49%;
  border-radius: 50%;
  background-color: #888;
}

@media (orientation: portrait) {
  .turntable {
    width: 175vh;
    height: 175vh;
    left: calc(50% - 87.5vh);
    top: 8vh;
  }
}

@media (orientation: landscape) {
  .turntable {
    width: 90vw;
    height: 90vw;
    left: 5vw;
    top: calc(100% - 48vw);
  }
}

.record {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  animation: wobble 1.82s infinite linear;
  animation-play-state: paused;
  border-radius: 50%;
  box-shadow: 0 80px 100px rgba(0,0,0,0.3);
}

.record__vinyl {
  width: 100%;
  display: block;
}

.record__label {
  position: absolute;
  width: 34.4%;
  top: 32.8%;
  left: 32.8%;
  animation: spin 1.82s infinite linear;
  animation-play-state: paused;
}

.record__turntable-pin-shadow {
  position: absolute;
  width: 2%;
  height: 2%;
  left: 49%;
  top: 49%;
  transform: rotateZ(45deg);
}

.record__turntable-pin-shadow::before,
.record__turntable-pin-shadow::after {
  content: "";
  position: absolute;
}

.record__turntable-pin-shadow::before {
  width: 130%;
  height: 130%;
  left: -15%;
  top: -15%;
  border-radius: 50%;
  background: linear-gradient(to right, black, transparent);
  opacity: 0.2;
}

.record__turntable-pin-shadow::after {
  width: 200%;
  height: 100%;
  left: 50%;
  top: 0;
  background: radial-gradient(circle at 0% 50%, black, transparent);
  opacity: 0.4;
}


@keyframes wobble {
  0% { transform: rotateX(5deg) rotateY(0deg); }
  25% { transform: rotateX(0deg) rotateY(5deg); }
  50% { transform: rotateX(-5deg) rotateY(0deg); }
  75% { transform: rotateX(0deg) rotateY(-5deg); }
  100% { transform: rotateX(5deg) rotateY(0deg); }
}

@keyframes spin {
  from { transform: rotateZ(124deg); }
  to { transform: rotateZ(484deg); }
}


.state-music .record,
.state-music .record__label {
  animation-play-state: running;
}


.state-music-paused body {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.06)
    ),
    linear-gradient(
      hsl(219, 0%, 33%) 0%,
      hsl(219, 0%, 33%) 33%,
      rgb(214, 214, 213) 66%,
      rgb(214, 214, 213) 100%
    );
}

.state-music-paused .turntable,
.state-music-paused .alert-player__repeat-button {
  filter: grayscale(100%);
}

.state-music-paused .music-player__play-button {
  display: block;
}

.state-music-paused .music-player__pause-button {
  display: none;
}


.state-alert body {
  background-position: bottom, top;
}

.state-alert .controls {
  opacity: 0;
  pointer-events: none;
}

.state-alert .alert-player__text__wrapper {
  opacity: 1;
  pointer-events: auto;
}
